page-lock {

        .a-orange{
            color: #ff9900;
            text-decoration:underline;
        }
    
        .p-a—center{
            text-align: center;
        }
    
        .btn-orange{
           background: #ff9900;
        }
    
        .btn-orange-ch{
            background: #ff9900;
            float: right;
            margin-top: -80px;
            height: 40px;
            font-size: 0.7em;
         }
    
        .titile{
            font-weight: bold;
            font-size: 20px;
        }
    
        .tip{
            color: #ff3300;
            font-size: 12px;
        }
    
        .margin-top-add-small{
          margin-top: 5px;
        }
    
        .margin-top-sub-large{
            margin-top: -15px;
        }
}
    