<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button icon-only color="royal" (click)="closeModal();">
              <ion-icon ios="ios-close-circle-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title text-center>租用锁</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-4> 锁号：</ion-col>
            <ion-col col-6><input type="text" class="input" [(ngModel)]="lock_no"/></ion-col>
            <ion-col col-2 class="scan" (click)="qrScan()"><ion-icon ios="ios-qr-scanner"></ion-icon></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4> 箱号：</ion-col>
            <ion-col col-6><input type="text" class="input" [(ngModel)]="container_no"/></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4> 租用时长：</ion-col>
            <ion-col col-6><input type="text" class="input" [(ngModel)]="useTime"/></ion-col>
            <ion-col col-2>小时</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12> 每小时费用：{{price}}元</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-10><button ion-button class="btn-orange" (click)="toPay()">确认施封并支付费用</button></ion-col>
        </ion-row>
    </ion-grid>
  
</ion-content>
