<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button icon-only color="royal" (click)="closeModal();">
              <ion-icon ios="ios-close-circle-outline"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <form [formGroup]="passForm" (submit)="modifyPassword(passForm.value)">
          <ion-item>
              <ion-label>原密码：</ion-label><ion-input formControlName="oldPassword" required type="password" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>新密码：</ion-label><ion-input formControlName="newPassword" required  type="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>确认密码：</ion-label><ion-input formControlName="rePassword" required  type="password"></ion-input>
          </ion-item>

          <button ion-button full type="submit" class="orange">提交</button>
      </form>
  </ion-list>
</ion-content>